<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="page-header">Reset password</h1>
    <form method="post">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <div class="form-group">
        <label for="password">New Password</label><input type="password" name="password" value="" placeholder="New password" autofocus="" class="form-control">
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password</label><input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-reset">Change password</button>
      </div>
    </form>
  </div>
</div>