<div class="row">
  <div class="col-sm-12">
    <h1><i class="fa fa-times-circle"></i> Access denied</h1>
    <p class="text-muted lead">
      403 - Access forbidden
    </p>
    <p class="lead">
      You don't have permission to access this page
    </p>
  </div>
</div>