<div class="row">
  <div class="col-sm-12">
    <h1><i class="fa fa-times-circle"></i> Nothing to see here</h1>
    <p class="text-muted lead">
      404 - Page not found
    </p>
    <p class="lead">
      The page requested doesn't exist.
    </p>
  </div>
</div>