<div class="row">
  <div class="col-sm-12">
    <h1><i class="fa fa-warning"></i> Server Error</h1>
    <p class="text-muted lead">
      500 - Internal Server Error
    </p>
    <p class="lead">
      Something went wrong on the server.
    </p>
    <p class="lead">
    The error was logged and the cause will be investigated.
    </p>
  </div>
</div>