<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-home text-center">
      <h1>
        <span class="fa-stack">
          <i class="fa fa-comment fa-stack-2x"></i>
          <i class="fa fa-smile-o fa-stack-1x text-primary"></i>
        </span>
        community feedback <small>open sourced</small></h1>
      <br/>
      <p>
        A preview of the new, open sourced community feedback platform from inkrato
      </p>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>What inkrato does</h4></div>
      <div class="panel-body">
        <p class="lead">
          We build software to empower people.
        </p>
        <p class="lead">
          Our focus is on building tools to facilitiate engagement, participation and collaboration.
        </p>
        <p class="lead">
          We create bespoke software and provide solutions based on the inkrato collaborative platform.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Who uses inkrato</h4></div>
      <div class="panel-body">
        <p class="lead">
          We're popular with organisations who want to engage with their community - internal or external - and improve how they work and what they do.
        </p>
        <p class="lead">
          This includes community groups, activists, political groups, software developers and product teams; from non-profit organisations to commercial companies.
        </p>
      </div>
    </div>
  </div>
</div>
</div>