<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-home text-center">
      <h1>
        <span class="fa-stack">
          <i class="fa fa-comment fa-stack-2x"></i>
          <i class="fa fa-smile-o fa-stack-1x text-primary"></i>
        </span>
        community feedback <small>open sourced</small></h1>
      <br/>
      <p>
        A preview of the new, open sourced community feedback platform from inkrato
      </p>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6">
    <div class="media">
      <div class="media-left">
        <span class="fa-stack fa-3x" style="margin: 60px 20px;">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-building fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="media-body">
        <h3>About inkrato</h3>
        <p class="lead">
          Inkrato is a software company, that specialises in creating high quality bespoke software.
        </p>
        <p class="lead">
          Our primary focus is on building tools which facilitiate collaboration and engagement.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="media">
      <div class="media-left">
        <span class="fa-stack fa-3x" style="margin: 60px 20px;">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="media-body">
        <h3>About this software</h3>
        <p class="lead">
          Inkrato's core product is the inkrato collaboration platform.
        </p>
        <p class="lead">
          It's proven plaform for community feedback and discussion.
        </p>
      </div>
    </div>
    </div>
  </div>
</div>