<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-home text-center">
      <h1 class="hidden-xs hidden-sm">
        <i class="fa fa-comments"></i>
        inkrato
        <br class="visible-sm visible-xs"/>
        <small>collaboration platform</small>
      </h1>
      <br/>
      <p>
        An open source collaboration platform for teams and communities
      </p>
      <br/>
      <div class="row clearfix text-center ">
        <a class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4 btn btn-lg btn-default" href="<%= site.options().post.path %>" style="background-color: #fff;">Try out the preview of version 2.0 &nbsp; <i class="fa fa-lg fa-chevron-right"></i></a>
      </div>
      <br/>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6">
    <div class="media">
      <div class="media-left">
        <span class="fa-stack fa-3x" style="margin: 60px 20px;">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-building fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="media-body">
        <h2>About inkrato</h2>
        <p class="lead">
          Inkrato is a software company based in London.
        </p>
        <p class="lead">
          We specialise in creating high quality software for teams and communites.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="media">
      <div class="media-left">
        <span class="fa-stack fa-3x" style="margin: 60px 20px;">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="media-body">
        <h2>About this software</h2>
        <p class="lead">
          Inkrato's core product is the inkrato collaboration and feedback platform.
        </p>
        <p class="lead">
          It's a proven plaform for feedback and discussion.
        </p>
      </div>
    </div>
    </div>
  </div>
</div>