<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-home text-center">
      <h1 class="hidden-xs hidden-sm">
        <i class="fa fa-comments"></i>
        inkrato
        <br class="visible-sm visible-xs"/>
        <small>community feedback platform</small>
      </h1>
      <br/>
      <p>
        A preview of inkrato's new open source community feedback platform
      </p>
      <br/>
      <div class="row clearfix text-center ">
        <a class="col-sm-offset-4 col-sm-4 btn btn-lg btn-default" href="/<%= site.getOptions().post.url %>" style="background-color: #fff;">Try it out &nbsp; <i class="fa fa-lg fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-6">
    <div class="media">
      <div class="media-left">
        <span class="fa-stack fa-3x" style="margin: 60px 20px;">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-building fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="media-body">
        <h3>About inkrato</h3>
        <p class="lead">
          Inkrato is a software company that specialises in creating high quality bespoke software.
        </p>
        <p class="lead">
          Our primary focus is on building tools which facilitiate collaboration and engagement.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="media">
      <div class="media-left">
        <span class="fa-stack fa-3x" style="margin: 60px 20px;">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="media-body">
        <h3>About this software</h3>
        <p class="lead">
          Inkrato's core product is the inkrato collaboration and feedback platform.
        </p>
        <p class="lead">
          It's a proven plaform for feedback and discussion. This is a preview of version 2.0.
        </p>
      </div>
    </div>
    </div>
  </div>
</div>