// Grunt Task copies this from bower_components dir

// Start with base bootstrap (all components!)
@import "bootstrap/bootstrap.less";

// Include additional files which require / extend bootstrap
@import "bootstrap.overrides.less";
@import "bootstrap.select.less";
@import "bootstrap.wysihtml5.less";

// Additional dependancies
@import "font-awesome.less";
@import "animations.less";
@import "social.less";

// Define behaviour when javascript is not enabled (or explicitly when it is)
@import "no-js.less";

*[href]:hover {
  cursor: pointer;
}

.navbar-static-top {
  margin-bottom: 0
}

.jumbotron.jumbotron-home {
  border-radius: 4px;
  .gradient(@brand-primary, darken(saturate(@brand-primary, 12%), 8%));
}

.jumbotron.jumbotron-home h1 {
  font-size: 48px;
}

.jumbotron.jumbotron-home h1 .text-primary {
  text-shadow: none;
}

.jumbotron.jumbotron-heading {
  padding: 20px 0 20px 0;
  .gradient(@brand-primary, darken(saturate(@brand-primary, 12%), 8%));
}

.jumbotron.jumbotron-heading h1 {
  position: relative;
  top: -2px;
  margin: 0;
  padding: 0;
  font-size: 39px;
}

.jumbotron.jumbotron-heading h1 small {
  font-size: 26px;
}

.jumbotron h1 small {
  color: @jumbotron-heading-color;
  opacity: 0.75;
}

.page-header {
  margin-top: 0;
}

h1, h2
.h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.modal-footer,
.modal-header {
  background-color: @modal-header-bg;
}

.footer {
  margin-top: 20px;
}

.input-group-search ul.typeahead li {
  overflow: hidden;
}

.text-default,
.text-default:hover {
  color: @text-color;
}

.text-white,
.text-white:hover {
  color: #fff;
}

.post-preview-body .post-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
}

.post-preview-body a {
  color: @text-color !important;
  text-decoration: none;
}

.post-preview-body {
  position: relative;
  height: 80px;
  overflow: hidden;
  margin-bottom: 20px;
}

.panel {
  border-width: 2px;
}

textarea {
  min-height: 100px;
}

.navbar-inverse .nav.navbar-main li:hover a,
.navbar-inverse .nav.navbar-main li.active a {
  @media (min-width: @screen-sm-min) {
    box-shadow: inset 0 -10px 0 -5px @navbar-inverse-link-color;
    background: transparent;
    transition: all .2s;
  }
}

.score {
  margin: 0;
  font-weight: 400;
  font-size: @font-size-large;
}

.gradient (@startColor: #000000, @endColor: #ffffff) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}