<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header"><i class="fa fa-times-circle"></i> Page deleted</h1>
    <p class="text-muted lead">
      The page that was here has been removed.
    </p>
    <% if (typeof(user) != 'undefined' && ( (post.creator && user.id == post.creator.id) || user.role == 'ADMIN' || user.role == 'MODERATOR')) { %>
    <p class="lead">
      You have permission to restore this page.
    </p>
    <p>
      <form name="delete-post" method="post" action="<%= post.getUndeleteUrl() %>">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <button type="submit" class="btn btn-warning"><i class="fa fa-fw fa-lg fa-undo"></i>Restore</button>
      </form>
    </p>
    <% } %>
    <p>
  </div>
</div>