<% if (query) { %>
<h1 class="page-header"><%= count %> search results for "<%= query %>"</h1>
<div class="row">
  <div class="col-sm-12">
      <% include ../partials/posts/list %>
  </div>
</div>
<% } %>